@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-size: 16px;
  font-family: 'Georama', sans-serif;
  background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
  /* background-color: #eee; */
  /* background-image: url('light-grey-terrazzo.png'); */
  color: whitesmoke;
}
/* =============================
Query form
===============================*/

.container{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;

}

.title{
  text-align: center;
  font-size: 2rem;
}

.query-form{
  width: 100%;
  display: grid;
}

@media (min-width: 600px){
  .query-form{
    grid-template-columns: auto 1fr auto;
    gap: 1em;
    align-items: center;
  }
}

.query-label{
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.query-input,
.btn-submit{  
  border-radius: 1em;
  border: 1px solid #222;
  padding: .5em 1em;
}

.query-input,
.query-label,
.btn-submit{
  margin-bottom: .5em;
}


.btn-submit{
  background-color: rgba(15,27,49,1);
  color: whitesmoke;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-submit:hover,
.btn-submit:focus{
  background-color: rgba(0,112,218,0.9) 
}

/* =============================
Movie display
===============================*/
.movies-list{
  margin-top: 1em;
}
.movie{
  background-color: rgb(54, 94, 168);
  box-shadow: 1px 1px 5px rgba(0, 0, 0,  0.2);
  margin: 1em 0;
  border-radius: 1em;
  padding: 1em 1em;
}
.movie-poster{
  width: 50%;
  margin: 0 auto;
  display: block;
}
.movie-info{
  margin-top: 1em;
}

.movie-title{
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
}

.movie-release-date,
.movie-rating{
  font-size: .85rem;
}

.movie-desc{
  font-size: .95rem;
  line-height: 1.5;
}

@media (min-width: 600px){
  .movie{
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: .5em;
  }
  .movie-info{
    margin: 0;
  }
}
