*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
}

.container{
    width: 80%;
    margin: 1rem auto;
    border-radius: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: #3d3f41;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

.accordion-title{
    width: 30%;
    font-size: 3rem;
    padding: 2rem;
}

@media (max-width:768px){
    .accordion-title{
        font-size: 1.5rem;
    }
}
.accordion-content{
    width: 68%;
    padding: 2rem;
}
.accordion-question{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: thin;
    margin-bottom: 1em;
}

.question-title{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon{
    font-size: 1.725rem;

}
.question-info{
    font-size: .9rem;
    padding: 0 1em 1em 1em;
}